@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  border:0;
  padding: 0;
  box-sizing: border-box; 

}

:root{
  --negro-color:#191919;
  --blanco-color:#ffffff;
  --cafeoscuro-color:#572612;
  --cafemasoscuro-color:#301309;
  --amarillo-color: #F9D544; 
}


body{
  color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
}

p{
  text-align: justify;
}

.contenedor{
  max-width: 100%;
  width: 100%;
}

